body { background: #555; }

.view { 
    font-size: 12px;
    line-height: 1.4;
    width: 30em;
    margin: 0 auto;
    padding: 1em 0;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    background: white;
    overflow: hidden;
}

.view a:link,
.view a:visited {
    color: #2fc2ef;
    text-decoration: none; 
}

.view a:hover,
.view a:active {
    text-decoration: underline; 
}

.status {
    border-top: solid 1px #ddd;
    padding: 10px 20px 10px 83px;
}

.status:first-child { border-top: none; }

.status a.avatar {
    margin: 0 0 0 -58px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.avatar {
    display: block;
    float: left;
    height: 48px; width: 48px;
    overflow: hidden;
}

.status .username { font-weight: bold; }

.status .username:link,
.status .username:visited,
.status .date:link,
.status .date:visited {
    color: black;
}

.status .username:hover,
.status .username:active,
.status .date:link,
.status .date:visited,
.status .reply:link,
.status .reply:visited { color: #555; }

.status .date:hover,
.status .date:active,
.status .reply:hover,
.status .reply:active { text-decoration: underline; }


.status .statusBody { margin: 0 0 10px; }

.status .extras { padding: 5px 0; }

.status .embed,
.status a.embed > img {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
}

.status:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

.comments { 
    clear: both;
    padding-top: 10px;
    font-size: 10px;
    color: #555;
}

.comment { padding: 0.5em 0; }

.comment .username {
    display: inline;
    margin: 0; padding: 0;
}
