body { background: #333; }

.view { 
    font-size: 12px;
    line-height: 1.4;
    width: 30em;
    margin: 0 auto;
    padding: 1em 2em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    background: white;
    overflow: hidden;
}

.status {
    border-top: solid 1px #ccc;
    padding: 1em 0;
}

.status:first-child {
    border-top: none;
}

.status img.avatar {
    margin: 0 5px 5px 0;
    height: 48px; width: 48px;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}


.status .username {
    display: block;
    float: left;
    padding-right: 0.5em;
    margin-left: 5px;
}

.status .username:link,
.status .username:visited,
.status .date:link,
.status .date:visited
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.status .username:hover,
.status .username:active {
    color: #555;
}

.status .date:link,
.status .date:visited
{
    color: #555;
}

.status .statusBody {
    margin: 0 0 20px 58px;
}

.status img.avatar, 
.status .date,
.status .reply {
    display: block;
    float: left;
    margin-right: 5px;
}

.status img.avatar,
.status .date,
.status .extras {
    clear: left;
}

.status .extras {
    padding: 5px 0;
}

.status .embed,
.status a.embed > img {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
}

.status:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

.comments { 
    clear: both;
    font-size: 10px;
    color: #555;
}

.comment {
    padding: 0.5em 0;
}

.comment .username {
    display: inline;
}
